<section>
  <div class="container">
    <div class="title">
      
      <div class="row">
        <div class="col-sm-12 col-lg-2">
        </div>
        <div class="col-sm-12 col-lg-4">
          <%= link_to new_cocktail_dose_path(@cocktail) do %>
            <i class="far fa-plus-square fa-border fa-sm"></i>  
          <% end %>
          
          <%= link_to "", cocktail_path(@cocktail),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "far fa-trash-alt fa-sm ml-1 mr-2"
          %>
          <div class="card-show p-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
            <%= @cocktail.name %>
          </div>
        </div>
        <div class="col-sm-12 col-lg-2">
        </div>

        <div class="col-sm-12 col-lg-4">
            <% iterator = 1 %>
            <% @cocktail.doses.each do |dose| %>
              <li><%= iterator %>) <%= dose.ingredient.name %></p>
              <li class="description"><i class="fas fa-angle-double-right fa-xs"></i><%= dose.description %></p>
              <% iterator +=1 %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>